body {
    background-color: darkgray;
}


.container {
   color-interpolation:;
}
.external-margin-10 {
    margin: 10px;
}
.internal-padding-5 {
 padding: 5px;
}

.highlited {
    font-size: 25px;
    font-weight: bolder;
    text-decoration: 100px;
}

.inline-item