body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.0001);
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
/*
* Header
*/ 
.main-header {
    padding: 60px 0 40px;
}

.main-logo {
    max-width: 335px;
}

.main-nav {
    width: 100%;
    display: flex;
    min-height: 72px;
    background-color:  #35444F;
}

/*
* Navigation
*/
.navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li {
    padding: 0 30px;
    border-left: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    transition: background-color .5s ease;
}

.navigation li.active,
.navigation li:hover {
    background-color:#222F3A;
}

.navigation a {
    min-height: 72px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
}
/*
* Content Wrapper
*/
.main-content {
    padding: 50px 0;
    display: flex;
    align-items: flex-start;
}

/*
* Sidebar
*/
.sidebar {
    margin: 0;
    padding: 0;
    flex: 0 0 345px;
    list-style: none;
    width: 345px;
    margin-right: 50px;
    border: 1px solid #000000;
}
.sidebar li {
    transition: background-color .5s ease;
}
.sidebar li:hover {
    background-color: #DBDBDB;
}

.sidebar a {
    padding: 30px 45px;
    font-size: 27px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #485863;
    text-decoration: none;
    transition: padding .5s ease, color .5s ease;
}
.sidebar li:hover > a {
    color: #000;
    padding-left: 70px;
}
/*
* Content
*/
.content {
    width: 100%;
}
.img-wrapper {
    width: 100%;
    min-height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-bottom: 30px;
}
.content p {
    font-size: 18px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-bottom: 30px;
}
/*
* Footer
*/
.main-footer {
    max-width: 100%;
    min-height: 70px;
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.bottom-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-navigation a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #0C1927;
    text-decoration: none;
    transition: color .5s ease;
}

.bottom-navigation a:hover {
    text-decoration: underline;
    color: #3181A6;
}