.main-container {
    width: 1280px;
    margin: auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.header-link {
    margin-left: 72px;
    text-align: center;
    font-family: Montserrat, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.header-link:last-child {
    margin-left: 50px;
}

.header-link:hover {
    text-decoration: underline;
}

.banner img {
    display: block;
}

.content {
    margin: 0 68px 0;
    text-align: center;
}

.content-title {
    margin-top: 49px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-paragraph {